.newspost {
	border-bottom-color:#D0D0EF;
}
.newspost:first-child {
	border-top-color:#1F1F47;
}
	
.newsgroups {
	color:#808080;
}

.newsresponsebar {
	background-color:#141418;
}

.newslikebtn {
	color:#6068FF;
}
.newslikebtn:active {
	color:#F04040;
}

#news_add_text {
	width: 90%;
}

#news_groups_table {
	border-spacing: 0px 3px;
}

#news_groups_table td {
	padding-right: 3px;
}
