@extend {
body {
	font-family: courier, monospace;
	color: #008800;
	background-color: #000000;
	/*cursor: url(www/pics/l33tcursor.cur);*/
}
form, div, p, span, td, th, i {
	font-family:  courier, helvetica, verdana, sans-serif;
	color: #008800;
}
a {
	color: #009900;
}
}

input, textarea, button {
	font-family: courier, monospace;
	color: #008800;
	background: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #007700;
	outline:transparent none 0px;
}
select {
	font-family: courier, monospace;
	color:#008800;
	background-color:black;
	background:-webkit-linear-gradient(150deg, #008800, black 25px);
	background-image:-ms-linear-gradient(150deg, #008800 black 25px);
	background-image:-o-linear-gradient(150deg, #008800 black 25px);
	background-image:linear-gradient(150deg, #008800 black 25px);
	background-image:-moz-linear-gradient(150deg, #008800 black 25px);
	border-style:solid;
	border-width:1px;
	border-color:#007700;
	outline:transparent none 0px;
/*	scrollbar-3dlight: green;
	scrollbar-arrow: green;
	scrollbar-base: black;
	scrollbar-shadow: green;*/
}
input[type=search] {
	-webkit-appearance:none;
}
input:focus, textarea:focus {
	border-color:#009900;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, select:hover {
	border-color:#009900;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, select:active {
	border-color:#007700;
}


option {
	color: #008800;
	background: #000000;
	border-width: 0px;
}
.c1 {
	background: transparent;
}
.c2 {
	background: #003800;
}
a:visited {
	color: #007700;
}
a:hover {
	color: #00aa00;
	/*cursor: url(www/pics/l33tcursor.cur);*/
}
a:active {
	color: #00aa00;
}
