.intrabox {
	background-color: #fff;
	border-right: 0.18em solid #4284B5;
	border-bottom: 0.16em solid #4284B5;
	margin-bottom: 10pt;
	width: 305px;
}

.boxheader {
	margin: 0em;
	padding: 0.2em 0em 0.2em 1em;
	font-size: 0.8em;
	color: #fff;
	border-top: 0.1em solid #65B6E3;   
	border-left: 0.1em solid #65B6E3; 
	background-color: #4284B5;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

@extend
.boxcontent {
	margin-left: 10px;
	margin-top: 2px;
}

@extend
.mainbox, .mainbox_noheader {
	background-color: #fff;
	border: none;
	border-right: 0.18em solid #4284B5;
	border-bottom: 0.16em solid #4284B5;
	margin-bottom: 10pt;

}
