#filetable {
	border-collapse: collapse;
}

#filetable td {
	padding: 0px 0px 0px 0px;
}

#filetable th {
	text-align: left;
}

#filetable th.image {
	width: 20px;
}

#filetable th.type {
	width: 65px;
}

#filetable .size {
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}
