.error {
	position:fixed;
	left:0px;
	bottom:0px;
	z-index:10;
	border: 2px #f00 dashed;
	background-color: #daa;
	padding: 5px;
	overflow: auto;
	height: 250px;
}

.debug {
	position:fixed;
	right:0;
	bottom:0;
	z-index:10;
	border: 2px #00f dashed;
	background-color: #aad;
	padding: 5px;
	overflow: auto;
	height: 250px;
}

.minimized {
	padding: 0px;
	width:23px;
	height:23px;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	opacity: 0.5;
	overflow: hidden;
}

.button_container {
	position: relative;
	float: right;
	width:20px;
	height:20px;
	margin-top: 3px;

}

.minimize {
	position: fixed;
	width:15px;
	height:15px;
	background-color: #f11;
	border: 1px solid #d00;
	cursor: default;
}

div.minimize:hover {
	background-color: #f66;
}
