@extend {
body {
	background:#0A0A0A;
	color:#C0C0C0;
}
}
a {
	color:#8080FF;
	text-decoration:underline;
}
a:visited {
	color:#8080FF;
}
input {
	background-color:#0A0A0A;
	color:#C0C0C0;
	border-color:#C0C0C0;
	border-style:solid;
	border-width:1px;
}
input[type="search"] {
	-webkit-appearance:none;
}
