#login_background {
	margin: auto auto auto auto;
	width: 400px;
	height: 400px;
}

.centering_table {
	height: 100%;
	margin: auto auto auto auto;
	padding-top: 15px;
}
.centering_td {
	vertical-align: middle;
}
#login_failed {
	margin: auto auto auto auto;
	text-align: center;
}
#login_box {
	position:absolute;
	left:50%;
	top:50%;
	width:250px;
	margin-left:-150px; 
	margin-top:-75px; 
	padding:0px;
	border: thin groove;
}
