@extend
.logo {
	top: 0px;
	left: 0px;
	background: url(/www/pics/newlogo.png) no-repeat;
}
@extend
.title {
	color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
@extend
.header {
	color: #FFFFFF;
}
.header a {
	color: #FFFFFF;
}
.header a:visited {
	color: #FFFFFF;
}
@extend
.date {
	color: #FFFFFF;
}
.date a {
	color: #FFFFFF;
}
.date a:visited {
	color: #FFFFFF;
}
