@extend
.boxes {
	left: 0px;
}
.intrabox {
	border: none;
	background: url(../www/pics/modern_header.png) no-repeat;
}
.boxheader {
	position: relative;
	top: 7px;
	left: 2px;
	height: 30px;
	font-size: 18px;
}
