.newspost {
	border-width:0px;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#E9E9E9;
}

.newsitem {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 11px;
	margin-bottom: 10pt;
	border-style:none;
	border-width:0px;
}

.newstitle {
	margin-top:6pt;
	font-size:12px;
	font-weight:bold;
	padding-bottom:2px;
	border-style:none;
	border-width:0px;
	line-height:1.1em;
}

.newslikebtn {
	display:inline-block;
	padding-left:16px;
	padding-top:1px;
	background-image:url(/www/pics/fb/like.png);
	background-repeat:no-repeat;
	
	color:#3B5998;
	text-decoration:none;
	cursor:pointer;
}
.newslikebtn:hover {
	color:#3B5998;
	text-decoration:underline;
}
.newslikebtn:active {
	color:#3B5998;
	text-decoration:underline;
}

@extend {
	.newsoptions {
		font-size:12px;
		margin-top:0px;
		padding:0px;
	}
}
