.newsitem {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 11px;
	margin-bottom: 10pt;
}

.newstitle {
	margin-top:6pt;
	font-size:12px;
	font-weight:bold;
	padding-bottom:2px;
	border-bottom:0.05em solid;
	line-height:1.1em;
}

@extend {
.newsoptions {
	font-size:12px;
	margin-top:0px;
	padding:0px;
}
