#activityList {
	height: 405px;
	overflow-y: scroll;
	padding:0;
	margin-top:1em; 
	border: 1px solid #ddd;
	border-right: 4px double #ddd;
}

#activityList :first-child {
	border-top: none;
}

.activityHead {
	font-family: Trebuchet MS, sans-serif;
	padding: .5em;
	font-weight: bold;
	background-color: black;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.activityRow {
	font-family: Trebuchet MS, sans-serif;
	padding: .25em .5em .25em .5em;
	cursor: pointer;
}

.activityInfo {
	font-family: Trebuchet MS, sans-serif;
	padding: 0;
	height: 0px;
	overflow: hidden;
	transition: height .5s;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	-o-transition: height .5s;
}

.activityInfoInner {
	background-color: rgba(0,0,0,.3);
	margin-left: .5em;
	border-top: 1px solid white;
	border-left: 1px solid white;
	padding: .5em;
}

.selectedAR {
	background-color: #761;
}

.fillingAR.odd {
	background-color: #005;
}

.fillingAR.even {
	background-color: #227;
}

.fullAR.odd {
	background-color: #ddd;
	color: black;
}

.fullAR.even {
	background-color: #ccc;
	color: black;
}

.cancelledAR.odd {
	background-color: #D00;
	color: white;
}

.cancelledAR.even {
	background-color: #E00;
	color: white;
}

.restrictedAR.odd {
	background-color: #720;
}

.restrictedAR.even {
	background-color: #730;
}

.generalAR.odd {
	background-color: #337;
}

.generalAR.even {
	background-color: #484878;
}

.favoriteAR.odd {
	background-color: #252;
}

.favoriteAR.even {
	background-color: #1E671E;
}

.clickedAR {
	outline: 1px solid white;
	-webkit-box-shadow: inset 0 0 10px white;
	-moz-box-shadow: inset 0 0 10px white;
	-o-box-shadow: inset 0 0 10px white;
	box-shadow: inset 0 0 10px white;
	font-weight:bold;
}

.actkey {
	font-family: Trebuchet MS, Trebuchet, sans-serif;	
	padding:2px 6px;
}
