@extend {
.intrabox {
	border: none;
}

.boxheader {
	background-color: #[<$I2_USER->boxcolor|default:'660066'>];
	color: #[<$I2_USER->boxtitlecolor|default:'FF99FF'>];
}

.mainbox, .mainbox_noheader {
	border: none;
}

.boxcontent {
	color: #660066;
}
}
