#schedule_week {
	display: none;
}
#schedule_week_box {
	display: none;
}
#schedule_week.exp {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #f0f0f0;
	padding: 5px;
}
/* update this number if it changes */
#boxcontent_25 {
	text-align: center;
}
