div.console span {
	color: #FFFFFF;
	background-color: #000000;
	font-family: monospace;
}
div.console div {
	color: #FFFFFF;
	background-color: #000000;
	font-family: monospace;
}
body {
	background-color: #000000;
}
