a {

	-webkit-animation-duration:0.05s !important;
	-webkit-animation-iteration-count:infinite !important;
}
@-webkit-keyframes strobe {
	0% {
		color:#6068FF !important;
	}
	100% {
		color:#F04040 !important;
	}
}

body.fire * {
	-webkit-animation-name:fire !important;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:fire !important;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:infinite;
	-ms-animation-name:fire !important;
	-ms-animation-duration:1s;
	-ms-animation-iteration-count:infinite;
	-o-animation-name:fire !important;
	-o-animation-duration:1s;
	-o-animation-iteration-count:infinite;
	animation-name:fire !important;
	animation-duration:1s;
	animation-iteration-count:infinite;
	color:black !important;
}
@-webkit-keyframes fire {
	0% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
	10% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	20% {
		text-shadow:0px -1px 2px #A00000, -1px -3px 2px #F08000, -2px -5px 2px #FFFF00;
	}
	30% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	50% {
		text-shadow:0px -2px 2px #A00000, 0px -5px 2px #F08000, 0px -8px 2px #FFFF00;
	}
	60% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	70% {
		text-shadow:0px -1px 2px #A00000, 1px -3px 2px #F08000, 2px -5px 2px #FFFF00;
	}
	80% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	100% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
}
@-moz-keyframes fire {
	0% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
	10% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	20% {
		text-shadow:0px -1px 2px #A00000, -1px -3px 2px #F08000, -2px -5px 2px #FFFF00;
	}
	30% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	50% {
		text-shadow:0px -2px 2px #A00000, 0px -5px 2px #F08000, 0px -8px 2px #FFFF00;
	}
	60% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	70% {
		text-shadow:0px -1px 2px #A00000, 1px -3px 2px #F08000, 2px -5px 2px #FFFF00;
	}
	80% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	100% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
}
@-ms-keyframes fire {
	0% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
	10% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	20% {
		text-shadow:0px -1px 2px #A00000, -1px -3px 2px #F08000, -2px -5px 2px #FFFF00;
	}
	30% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	50% {
		text-shadow:0px -2px 2px #A00000, 0px -5px 2px #F08000, 0px -8px 2px #FFFF00;
	}
	60% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	70% {
		text-shadow:0px -1px 2px #A00000, 1px -3px 2px #F08000, 2px -5px 2px #FFFF00;
	}
	80% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	100% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
}
@-o-keyframes fire {
	0% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
	10% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	20% {
		text-shadow:0px -1px 2px #A00000, -1px -3px 2px #F08000, -2px -5px 2px #FFFF00;
	}
	30% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	50% {
		text-shadow:0px -2px 2px #A00000, 0px -5px 2px #F08000, 0px -8px 2px #FFFF00;
	}
	60% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	70% {
		text-shadow:0px -1px 2px #A00000, 1px -3px 2px #F08000, 2px -5px 2px #FFFF00;
	}
	80% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	100% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
}
@keyframes fire {
	0% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
	10% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	20% {
		text-shadow:0px -1px 2px #A00000, -1px -3px 2px #F08000, -2px -5px 2px #FFFF00;
	}
	30% {
		text-shadow:0px -2px 2px #A00000, -1px -4px 2px #F08000, -6px -5px 2px #FFFF00;
	}
	50% {
		text-shadow:0px -2px 2px #A00000, 0px -5px 2px #F08000, 0px -8px 2px #FFFF00;
	}
	60% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	70% {
		text-shadow:0px -1px 2px #A00000, 1px -3px 2px #F08000, 2px -5px 2px #FFFF00;
	}
	80% {
		text-shadow:0px -2px 2px #A00000, 1px -4px 2px #F08000, 2px -6px 2px #FFFF00;
	}
	100% {
		text-shadow:0px -2px 2px #A00000, 0px -4px 2px #F08000, 0px -6px 2px #FFFF00;
	}
}