@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
}

.pane {
	text-align:left;
	position:absolute;
	top:0px;
	min-height:100%;
	
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}

#mainPane {
	left:0px;
	width:264px;
	
	
	padding:0px 8px;
	
	z-index:3;
}
#mainPane input {
	width:240px;
}
#subPane {
	position:absolute;
	left:264px;
	width:300px;
	
	padding:32px 32px;
	
	text-align:center;
	
	z-index:2;
	
	font-size:120%;
}
#subPane #schedule div {
	display:inline-block;
	text-align:left;
}
#subPane #schedule table {
	margin:auto;
}
#subPane #schedule table td {
	font-size:120%;
	text-align:left;
	padding-left:6px;
}
#subPane #schedule table td:first-child {
	text-align:right;
	padding-right:6px;
}
#subPane ul {
	display:inline-block;
	text-align:left;
	/*margin-left:-2em;*/
	padding:0px 32px;
	list-style-type:none;
}

#logo {
	display:block;
	/*background-size:77px 70px;*/
	background-size:50px 55px;
	width:100%;
	height:55px;
	float:left;
	margin:6px 8px 32px;
	padding-top:0px;
	padding-left:56px;
	font-size:40px;
	white-space:nowrap;
	overflow:hidden;
	text-decoration:none;
	
	   -webkit-border-top-left-radius:0px;
	      -moz-border-top-left-radius:0px;
	           border-top-left-radius:0px;
	  -webkit-border-top-right-radius:0px;
	     -moz-border-top-right-radius:0px;
	          border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	   -moz-border-bottom-left-radius:0px;
	        border-bottom-left-radius:0px;
	
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}

.box {
	display:inline-block;
	margin:16px auto;
}

@media (max-width:645px) {
	body {
		
		font-size:12pt;
	}
	button {
		font-size:15px;
	}
	#mainPane {
		position:static;
		width:100%;
		min-height:0;
		padding:0px 4px;
	}
	#mainPane input {
		width:96%;
	}
	#subPane {
		position:static;
		width:100%;
		min-height:0;
	}
	#logo {
		padding-left:32px;
		font-size:26px;
		background-size:30px 33px;
		width:90%;
		height:33px;
		margin-left:4px;
		margin-bottom:16px;
	}
}
