body.login #mainPane {
	position: fixed;
}

body.login #logo {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	-ms-transition-duration: 0s;
	max-width: 180px;
}

#subPane {
	padding-left:0;
	padding-right:0;
}

#subPane.exp {
	width: 80%;
	min-width: 900px;
	width: calc(100% - 264px);
	padding-left: 32px;
	padding-right:32px;
}
#sched_tools {
	position: absolute;
	width:100%;
	top: -4px;
	left: 0px;
}
#week_b {
	float: left;
	z-index: 999;
	margin-left:10px;
}
#week_f {
	float: right;
	margin-right:10px;
}
#week_today, #week_click {
	text-align: center;
}
#schedule_week {
	width: auto;
	text-align: center;
	margin-top: 20px;
	display: none;
	margin-left: -15px;
}
/* ajax table css */
#subPane #schedule_week table {
	width: 100%;
}

#schedule_header {
	text-align: center;
	width:100%;
}

.h, .d, .s, #subPane #schedule_week table td {
	font-family: "Open Sans", Arial, Helvetica, Roboto, "Droid Sans", sans-serif;
	font-size: 100%;
	vertical-align: top;
	padding: 5px;
	min-width: 165px;
}

@media (max-width: 645px) {
	#logo {
		margin-right: 500%;
	}
	#subPane, #subPane.week {
		min-height: 500px;
	}
	#mainPane.pane, #mainPane, #subPane, #subPane.pane {
		position: static !important;
	}
	#subPane.pane, #subPane {
		width: 100% !important;
	}
	#sched_tools {
		top: 420px;
	}
}



span.cl {
	color: red;
}


.emerg {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 554px;
	max-height: 40%;
	z-index: 11;
}
