.logo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 286px;
        height: 218px;
        background: url(../pics/newlogo.png) no-repeat;
}
.login {
	/*display:inline-block;*/
	width:400px;
	margin-top:15%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.box {
	padding: 10px;
	border: 1px solid #343433;
	background-color: #F8F8F7;
	opacity: .85;
}
#login_failed {
        margin: auto auto auto auto;
        text-align: center;
}
#login_box {
        margin: auto auto auto auto;
}
form, div, p, span, td, th, i {
        font-family: arial, helvetica, verdana, sans-serif;
        font-size: 10pt;
}
.right {
	text-align: right;
}

#verisign_box {
	position:absolute;
	bottom:8px;
	right:8px;
	padding:0px;
}
