.logo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 286px;
        height: 218px;
        background: url(../pics/newlogo.png) no-repeat;
}
.middle {
        height: 100%;
        margin: auto auto auto auto;
        padding-top: 15px;
}
.box {
	padding: 10px;
	border: 1px solid #343433;
	background-color: #F8F8F7;

}
#login_failed {
        margin: auto auto auto auto;
        text-align: center;
}
#login_box {
        margin: auto auto auto auto;
}
form, div, p, span, td, th, i {
        font-family: arial, helvetica, verdana, sans-serif;
        font-size: 10pt;
}
.right {
	text-align: right;
}
