form, div, p, span, td, th, i {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
}

input, select, textarea {
	background-color: #f0e68c;
	color: #660033;
	border-width: medium;
	border-color: #fcc303;
}

img {
	border-width: 0px;
}

body {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	background-color: #660033;
}
tt {
	font-family: monospace, courier;
}
a {
	color: #cc6600;
	text-decoration: none;
}
a:visited {
	color: #cc99cc;
}
a:active {
	color: #ffcc33;
}
a:hover {
	text-decoration: underline;
}

.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../pics/newlogo.png) no-repeat;
}
.header {
	position: absolute;
	top: 20px;
	left: 300px;
	right: 10px;
}
.title {
	font-size: 14pt;
	font-weight: bold;
	color: #87ceeb;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #fcc303;
	border-bottom-width: 3px;
}
.newsitem {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10pt;
	border-left: dotted 1px gray;
	border-right: dotted 1px gray;
	border-bottom: dotted 1px gray;
}
.newstitle {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	border: solid 1px gray;
}
.newsposted {
	font-style: italic;
}
.date {
	position: absolute;
	top: 45px;
	float: right;
	right: 25px;
}
.boxes {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 315px;
}
.intrabox {
	border: #fcc303 thick ridge;
	margin-bottom: 10pt;
	background-color: #990022;
}
.boxheader {
	color: #87ceeb;
	font-weight: bold;
	background-color: #990022;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #fcc303;
	padding: 0px 4px;
}
.boxbuttons {
	right: 0px;
}
.boxcontent {
	margin: 4px;
	color: #ffffff;
}
.boxform {
	margin: 5px 4px;
	color: #ffffff;
}
.mainbox {
	background-color: #990022;
	position: absolute;
	top: 110px;
	left: 337px;
	right: 10px;
	border: #fcc303 thick ridge;
}
.schedulebutton {
	width: 150px;
}
.bold {
	font-weight: bold;
}
