#login_box {
	position:absolute;
	left:50%;
	top:50%;
	width:250px;
	margin-left:-150px; 
	margin-top:-75px; 
	padding:0px;
	border: thin groove;
}
.error {
	position:fixed;
	left:0px;
	bottom:0px;
	z-index:10;
	border: 2px #f00 dashed;
	background-color: #daa;
	padding: 5px;
	overflow: scroll;
	height: 25%;
/* Should this be included? */
/*	text-align: right; */
}

.debug {
	position:fixed;
	right:0;
	bottom:0;
	z-index:10;
	border: 2px #00f dashed;
	background-color: #aad;
	padding: 5px;
	overflow: scroll;
	height: 25%;
}

.minimized {
	padding: 0px;
	width:23px;
	height:23px;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
/* in my experience, the above two lines, or at least the one right above is not valid css */
/* maybe remove them? */
/* --wyang */
	opacity: 0.5;
	overflow: hidden;
}

.button_container {
	position: relative;
	float: right;
	width:20px;
	height:20px;
	margin-top: 3px;

}

.minimize {
	position: fixed;
	width:15px;
	height:15px;
	background-color: #f11;
	border: 1px solid #d00;
}

div.minimize:hover {
	background-color: #f66;
}

.fortune {
	text-align: center;
	margin-bottom: 5px;
}

.fortune-button {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 5px;
}
.directory-field {
	width:200px;
}
.directory-button {
	width:75px;
}
.directory {
	margin-top: 5px;
	margin-bottom: 5px;
}
