form, div, p, span, td, th, i {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
}

img {
	border-width: 0px;
}

body {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	background: white url(../pics/minimal_black.png) no-repeat top left;	
}
tt {
	font-family: monospace, courier;
}
a {
	color: black;
	text-decoration: underline;
}
a:visited {
	color: black;
}
a:active {
	color: black;
}
a:hover {
	text-decoration: none;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}
.header {
	position: absolute;
	top: 20px;
	left: 310px;
	right: 10px;
}
.title {
	font-size: 14pt;
	font-weight: bold;
	color: black;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
}
.newsitem {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10pt;
	border-left: dotted 1px black;
	border-right: dotted 1px black;
	border-bottom: dotted 1px black;
}
.newstitle {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	border: solid 1px black;
}
.newsposted {
	font-style: italic;
}
.date {
	position: absolute;
	top: 45px;
	float: right;
	right: 25px;
}
.boxes {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 305px;
}
.intrabox {
	border: thin groove;
	margin-bottom: 10pt;
	background: white;
}
.boxheader {
	color: black;
	font-weight: bold;
	background-color: white;
	border-left: 4px solid white;
	border-right: 4px solid white;
}
.boxbuttons {
	float: right;
	margin-right: 2px;
	margin-top: -2px;
}
.boxcontent {
	margin-left: 4px;
	margin-right: 4px;
	color: black;
}
.boxform {
	margin: 5px 4px;
	color: black;
}
.mainbox {
	position: absolute;
	top: 110px;
	left: 327px;
	right: 10px;
	border: thin groove;
}
.schedulebutton {
	width: 150px;
}
.bold {
	font-weight: bold;
}
