form, div, p, span, td, th, i {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
}

img {
	border-width: 0px;
}

body {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	background: #950875 url(../pics/newlogo.png) no-repeat top left;	
}
tt {
	font-family: monospace, courier;
}
a {
	color: #ff00c0;
	text-decoration: none;
	}
a:visited {
	color: #ff00c0;
}
a:active {
	color: #ff00c0;
}
a:hover {
	text-decoration: underline;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}
.header {
	position: absolute;
	top: 20px;
	left: 310px;
	right: 10px;
}
.title {
	font-size: 14pt;
	font-weight: bold;
	color: #f3a8e2;
	width: 100%;
	border-bottom: 1px solid #f3a8e2;
}
.newsitem {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10pt;
	border-left: dotted 1px gray;
	border-right: dotted 1px gray;
	border-bottom: dotted 1px gray;
}
.newstitle {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	border: solid 1px gray;
}
.newsposted {
	font-style: italic;
}
.date {
	color: #f3a8e2;
	position: absolute;
	top: 45px;
	float: right;
	right: 25px;
}
.boxes {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 305px;
}
.intrabox {
	margin-bottom: 10pt;
	background: #f3a8e2;
}
.boxheader {
	color: #336699;
	font-weight: bold;
	background-color: #f3a8e2;
	border-left: 4px solid #f3a8e2;
	border-right: 4px solid #f3a8e2;
}
.boxbuttons {
	right: 0px;
}
.boxcontent {
	margin-left: 4px;
	margin-right: 4px;
	color: #000000;
}
.boxform {
	margin: 5px 4px;
	color: #000000;
}
.mainbox {
	position: absolute;
	top: 110px;
	left: 327px;
	right: 10px;
	background-color: #f3a8e2;
}
.schedulebutton {
	width: 150px;
}
.bold {
	font-weight: bold;
}
