form, div, p, span, td, th, i {
	font-family:  courier, helvetica, verdana, sans-serif;
	font-size: 10pt;
}

img {
	border-width: 0px;
}

body {
	font-family: courier, helvetica, verdana, sans-serif;
	font-size: 10pt;
	background: #000000 url(../pics/newlogo.png) no-repeat top left;	
}
tt {
	font-family: monospace, courier;
}

input {
	font-family: courier, helvetica, verdana, sans-serif;
	color: #008800;
	background: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #007700;
}

select {
	color: #008800;
	background: #000000;
	border-style: solid;
	border-width: 0px;
	border-color: 007700;
}

option {
	color: #008800;
	background: #000000;
	border-width: 0px;
}	

a {
	color: #009900;
	text-decoration: none;
}
a:visited {
	color: #007700;
}
a:active {
	color: #004a2a;
}
a:hover {
	text-decoration: underline;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}
.header {
	position: absolute;
	top: 20px;
	left: 310px;
	right: 10px;
}
.title {
	font-size: 10pt;
	font-weight: bold;
	color: #008800;
	width: 100%;
	border-bottom-style: dashed;
	border-bottom-color: #008800;
	border-bottom-width: 1px;
}
.newsitem {
	font-family: courier, helvetica, verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10pt;
	border-style: dashed;
	border-color: #008800;
	border-width: 1px;
}
.newstitle {
	font-family: courier, helvetica, verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 2pt;
	border-style: dashed;
	border-color: #008800;
	border-width: 0px;
	border-bottom-width: 1px;
}
.newsposted {
	font-style: italic;
}
.date {
	position: absolute;
	top: 45px;
	float: right;
	right: 25px;
}
.boxes {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 305px;
}
.intrabox {
	border-style: dashed;
	border-color: #008800;
	border-width: 1px;
	padding: 2pt;
	margin-bottom: 10pt;
}
.boxheader {
	color: #008800;
	font-weight: bold;
	border-style: 1px dashed #008800;
}
.boxbuttons {
	right: 0px;
}
.boxcontent {
	margin-left: 4px;
	margin-right: 4px;
	color: #008800;
}
.boxform {
	margin: 5px 4px;
	color: #008800;
}
.mainbox {
	position: absolute;
	top: 110px;
	left: 327px;
	right: 10px;
	padding: 2pt;
	border-style: dashed;
	border-color: #008800;
	border-width: 1px;
}
.schedulebutton {
	width: 150px;
}
.bold {
	font-weight: bold;
}
