@extend {
.logo {
	background: url(/www/pics/1337logo.gif) 9px 9px no-repeat;	
}
.title {
	font-size: 10pt;
	color: #008800;
	border-bottom-style: dashed;
	border-bottom-color: #008800;
	border-bottom-width: 1px;
}
.date {
	color: #008800;
	top: 20px;
}
}
