.boxheader {
	color: black;
	font-weight: bold;
	background-color: #[<$I2_USER->boxcolor|default:ffffff>];
	border-left: 4px solid #[<$I2_USER->boxcolor|default:ffffff>];
	border-right: 4px solid #[<$I2_USER->boxcolor|default:ffffff>];
}
.upbutton {
	background: url(/www/pics/up.gif) center no-repeat;
}
.dnbutton {
	background: url(/www/pics/down.gif) center no-repeat;
}
.mnbutton {
	background: url(/www/pics/min.gif) center no-repeat;
}
.rmbutton {
	background: url(/www/pics/close.gif) center no-repeat;
}
