@extend {
body {
	margin: 0.5em 0em 2em 0em;
	font-size: 100%;
	font-family: Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
	line-height: 1.1em;
}

a {
	color:#0000CC;
	text-decoration:underline;
}

a:visited {
	color: #OOOOCC;
	text-decoration:underline;
}
a:active {
	color:red;
}

button, input[type=button], input[type=submit] {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#E3E3E3'); /* IE6,IE7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#E3E3E3')"; /* IE8 */
	background-color:#F9F9F9;
	background:-webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 60%);
	background-image:    -ms-linear-gradient(#F9F9F9 40%, #E3E3E3 60%);
	background-image:     -o-linear-gradient(#F9F9F9 40%, #E3E3E3 60%);
	background-image:        linear-gradient(#F9F9F9 40%, #E3E3E3 60%);
	background-image:   -moz-linear-gradient(#F9F9F9 40%, #E3E3E3 60%);
	color: black;
	font-family:Arial, sans-serif;
	font-size:12px;
	
	border-style:solid;
	border-width:1px;
	border-color:#BBB;
	        border-radius:3px;
	   -moz-border-radius:3px;
	-webkit-border-radius:3px;
	
	padding:2px 6px;
	margin-top:0px;
	
	cursor:pointer;
	
/*	vertical-align:middle;*/
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
	border-color:#444444;
}
button:active, input[type=button]:active, input[type=submit]:active {
	border-color:#444444;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#F9F9F9'); /* IE6,IE7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#F9F9F9')"; /* IE8 */
	background-color:#E3E3E3;
	background:-webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 60%);
	background-image:    -ms-linear-gradient(#E3E3E3 40%, #F9F9F9 60%);
	background-image:     -o-linear-gradient(#E3E3E3 40%, #F9F9F9 60%);
	background-image:        linear-gradient(#E3E3E3 40%, #F9F9F9 60%);
	background-image:   -moz-linear-gradient(#E3E3E3 40%, #F9F9F9 60%);
}
button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
	background-color:#FAFAFA;
	background-image:none;
	border-color:#BDBDBD;
	color:#808080;
}

input[type=text], input[type=search], input[type=email], textarea {
	outline-color:lightBlue;
	border-width:1px;
	border-style:inset;
	border-color:#EEEEEE;
	padding:2px;
	-webkit-appearance:none;
}
