#activityList {
	height: 405px;
	overflow-y: scroll;
	padding:0;
	margin-top:1em; 
	border: 1px solid #ddd;
	border-right: 4px double #ddd;
}

#activityList :first-child {
	border-top: none;
}

.activityHead {
	padding: .5em;
	font-weight: bold;
	background-color: black;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.clickedAR {
	outline: 1px solid #D0F0FF;
	-webkit-box-shadow: inset 0 0 10px #D0F0FF;
	   -moz-box-shadow: inset 0 0 10px #D0F0FF;
	     -o-box-shadow: inset 0 0 10px #D0F0FF;
	        box-shadow: inset 0 0 10px #D0F0FF;
	font-weight:bold;
}

.actkey {
	font-family:Arial, Helvetica, sans-serif;	
	padding:2px 6px;
}

.pieIcon, .cancelledAR .crossPie {
	background-image:url(/www/pics/styles/tron/eighth_list_icons.png);
}
