@extend
.boxes {
	width: 305px;
}
.intrabox {
	border: #009999 2px solid;
	margin-bottom: 10pt;
	background-color: #00EEEE;
	width: 305px;
	padding: 1px;
	-moz-border-radius: 10px;
}
.boxheader {
	color: #66CCFF;
	font-weight: bold;
	background-color: #4477AA;
	border: 2px outset #007777;
	padding: 0px 10px;
	-moz-user-select: none;
	cursor: default;
	-moz-border-radius: 10px;
}
.upbutton {
	background: url(/www/pics/up.gif);
}
.dnbutton {
	background: url(/www/pics/down.gif);
}
.mnbutton {
	background: url(/www/pics/min.gif);
}
.rmbutton {
	background: url(/www/pics/close.gif);
}
@extend
.boxbuttons {
	margin-right: 10px;
	margin-top: 2px;
}
.boxcontent {
	margin: 4px;
	color: #006666;
}
@extend
.boxform {
	margin: 5px 4px;
	color: #6666FF;
}
@extend
.mainbox {
	left: 337px;
	border: #009999 2px solid;
	background-color: #00EEEE;
	padding: 1px;
	-moz-border-radius: 10px;
}
