@extend
.boxes {
	width: 320px;
}
@extend
.boxes_noheader {
	width: 320px;
}
@extend
.intrabox {
	background: #000000;
	width: 320px;
}
@extend
.boxheader {
	background-color: #000000;
	border-left: 4px solid #000000;
	border-right: 4px solid #000000
}
.upbutton {
	background: url(/www/pics/up.gif) center no-repeat;
}
.dnbutton {
	background: url(/www/pics/down.gif) center no-repeat;
}
.mnbutton {
	background: url(/www/pics/min.gif) center no-repeat;
}
.rmbutton {
	background: url(/www/pics/close.gif) center no-repeat;
}
@extend
.boxcontent {
	color: #ffffff;
}
@extend
.boxform {
	color: #ffffff;
}
@extend
.mainbox {
	margin-left: 20px;
}
@extend
.activity_cancelled {
	background-color: #006600;
}
