@extend {
.newsitem {
	font-family: courier, helvetica, verdana, sans-serif;
}
.newstitle {
	font-family: courier, helvetica, verdana, sans-serif;
}
.newsoptions {
	margin-top: -19px;
}
}

.newsgroups {
	font-style: italic;
	color: white;
}
