@extend
.intrabox {
	background: #f3a8e2;
	border: none;
}
@extend
.boxheader {
	color: #336699;
	background-color: #[<$I2_USER->boxcolor|default:'f3a8e2'>];
	border-left: 4px solid #[<$I2_USER->boxcolor|default:'f3a8e2'>];
	border-right: 4px solid #[<$I2_USER->boxcolor|default:'f3a8e2'>];
}
@extend
.mainbox {
	background-color: #f3a8e2;
	border: none;
}
@extend
.activity_cancelled {
	background-color: #ff00c0;
}
