body {
	background-color: #FFFFFF;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 14px;
}
.ibox {
	border: 1px dotted #000000;
	position: relative;
}
.boxholder {
	position: relative;
	top: 5px;
	width: 20%;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
}
.topbar {
	border: 1px solid #999999;
	position: relative;
	left: 2px;
	top: 2px;
	height: 50px;
	background-color: #E2E2E2;
}
.mainbox {
	position: absolute;
	left: 22%;
	top: 60px;
	border: 1px dashed #CCCCCC;
}
.raw {
	/*color: white;*/
}
