@extend {
.logo {
	top: 0px;
	left: 0px;
	background: url(/www/pics/newlogo.png) no-repeat;	
}
.title {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}
.date {
	color: white;
	top: 23px;
}
.blurb {
	color: white;
}
}
