input, select, textarea {
	background-color: #CCFFCC;
	color: #999999;
	border-width: medium;
	border-color: #CCFFCC;
}

td, th {
	color: #999999;
}

`extend
body {
	background-color: #CCDDFF;
	color: #FFFFFF;
}

a {
	color: #999999;
	text-decoration: none;
}

a:visited {
	color: #999999;
}

a:active {
	color: #999999;
}
