`extend
body {
	background-color: #FFFF00;
	background-image: url(www/pics/styles/sunset/background.png);
	background-repeat: repeat-x;
}

`extend
a {
	color: #660066;
}

`extend
a:visited {
	color: #660066;
}

`extend
a:hover, a:active {
	color: #CC0066;
}

`extend
input, select, textarea {
	background-color: #FF3366;
	border: 1px solid #660066;
	color: #FF99FF;
	font-weight: bold;
}
