@extend {
.logo {
	top: 0px;
	left: 0px;
	background: url(/www/pics/minimal_white.png) no-repeat;	
}
.logo a {
	position: absolute;
	top: 24px;
	left: 7px;
	width: 266px;
	height: 40px;
}
.title {
	color: white;
}
.date {
	color: white;
}
.blurb {
   color: white;
}
}
