/* Used in polls_home.tpl */
table.polls td {
	padding: 0px 5px;
}

table.polls th {
	padding-left: 1em;
	font-weight: normal;
	text-align: left;
}

/* Used in polls_results.tpl */
/* These provide the major lines. */
table.results {
	margin: 3px 0em;
	border-collapse: collapse;
}
table.results col {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
table.results col.l {
	border-left-width: 3px;
}
table.results th, table.results td {
	padding: 2px 3px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-width: 1px;
	border-style: solid;
}
table.results tbody th + td,
table.results tfoot th + td {
	border-right-style: hidden;
}

/* Hacky, but E:last-child is not supported by IE, as it is a CSS3 specifier
(FF/Opera support it). Remove the next rule and the first selector of the
one thereafter when browsers regularly support :last-child
In addition, the child selector prevents IE6 from gumming up. */
table.results thead tr:first-child th {
	border-bottom-width: 1px;
}
table.results thead tr > th,
table.results thead tr:first-child th:first-child, 
table.results thead tr::last-child th {
	border-bottom-width: 3px;
}
table.results tfoot tr * {
	border-top-width: 3px;
}

/* Format the left column. */
table.results tbody th,
table.results tfoot th {
	font-weight: inherit;
	text-align: left;
}

/* Make results easy to read. */
table.results tbody td,
table.results tfoot td {
	text-align: right;
}

table.results thead img {
	padding: 0px 5%;
}


/* Used in polls_results_freeresponse.tpl */
div.poll_freeresponse {
	position: relative; /* Make this a containing block. */
	display: block;
	width: auto;
	padding-left: 5.5em;
	margin-bottom: 2px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	border: 1px dashed #999;
	/* Broken in IE/FF. Needs to work. */
	page-break-inside: avoid;
}

div.hidden {
	display: none;
}

div.poll_freeresponse span {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	font-style: italic;
}

h4 {
	font-weight: bold;
}

@media print {
	div#polls_header {
		display: none;
	}
	div.poll_freesponse {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #999;
	}
}

/* Format the display.*/
ol.poll_questions {
	position: relative;
	padding-left: 1.5em;
}

ol.poll_questions > li {
	padding-bottom: 1em;
}
