.boxes {
	position: absolute;
	top:49px;
	left:0px;
	width:280px;
}
.intrabox {
	border-style:none;
	border-width:0px;
	border-color:transparent;
	border-top:1px solid #E2E2E2;
	background-color:white;
	/*margin-bottom:10pt;*/
	padding:0px 4px 4px 4px;
	width:272px;
	font-size:11px;
	margin-left:6px;
}

.boxheader {
	border:1px solid #3B5998;
	margin: 0em;
	padding:0.3em 1em 0.5em;
	font-size:12px;
	color:white;
	font-weight:bold;
	background-color:#6D84B4;

/*	position:relative;
	left:-1px;
	top:-1px;*/
	margin:-1px -1px;
}

.intrabox .boxheader {
	border-width: 0px;
	background-color:#F2F2F2;
	color:#333;
	cursor:default;
	font-size:11px;
	font-weight:bold;
	padding:4px 3px 5px 5px;
	margin:0px 0px 0px -4px;
	width:100%;
/*	position:relative;
	left:-4px;*/
	left:0px;
	right:0px;
}

.boxbuttons {
	display: none;
}

.intrabox .boxcontent {
	margin-bottom: 5px;
}

.boxcontent {
	border-width:0 1px 1px 0;
	padding-left: 6px;
	padding-right: 6px;
	color: #000000;
}

.mainbox {
	background-color:white;
	border:1px solid #B3B3B3;

	position: absolute;
	top:124px;
	left:292px;
	right:10px;
	margin-bottom:10pt;
}

@extend {
.mainbox_noheader {
	border: none;
	background-color: #fff;
	border-right: 0.18em solid #4284B5;
	border-bottom: 0.16em solid #4284B5;
	margin-bottom: 10pt;
}
