body {
	color:#EAEAEA;
	background-color:#0A0A0A;
}

a {
	color:#6068FF;
}
a:visited {
	color:#6068FF;
}
a:active {
	color:#F04040;
}

button, input[type="button"], input[type="submit"], input[type="reset"] select:not([size]), select[size="1"] {
	repeat:keep;

	background-color:#202020;
	background-image:-webkit-linear-gradient(#303030, #202020);
	background-image:   -moz-linear-gradient(#303030, #202020);
	background-image:    -ms-linear-gradient(#E8E8E8, #202020);
	background-image:     -o-linear-gradient(#E8E8E8, #202020);
	background-image:        linear-gradient(#E8E8E8, #202020);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#202020);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#202020)";
	
	border-color:#131313;
	border-top-color:#343434;
	
	text-shadow:0px -1px 0px black;
	
	color:#FDFDFD;
}
select:not([size]), select[size="1"] {
	repeat:keep;
	
	background-color:#202020;
	background-image:-webkit-linear-gradient(#303030, #202020);
	background-image:   -moz-linear-gradient(#303030, #202020);
	background-image:    -ms-linear-gradient(#303030, #202020);
	background-image:     -o-linear-gradient(#303030, #202020);
	background-image:        linear-gradient(#303030, #202020);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#202020);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#202020)";
	border-color:#131313;
	border-top-color:#343434;
	
	text-shadow:0px -1px 0px black;
	
	color:#FDFDFD;
}
button:hover:enabled, input[type="button"]:hover:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:hover:enabled, select:not([size]):hover:enabled, select[size="1"]:hover:enabled, button:focus:enabled, input[type="button"]:focus:enabled, input[type="submit"]:focus:enabled, input[type="reset"]:focus:enabled, select:not([size]):focus:enabled, select[size="1"]:focus:enabled {
	repeat:keep;

	background-color:#282828;
	background-image:-webkit-linear-gradient(#353535, #282828);
	background-image:   -moz-linear-gradient(#353535, #282828);
	background-image:    -ms-linear-gradient(#353535, #282828);
	background-image:     -o-linear-gradient(#353535, #282828);
	background-image:        linear-gradient(#353535, #282828);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#353535, endColorstr=#282828);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#353535, endColorstr=#282828)";
}
button:active:enabled, input[type="button"]:active:enabled, input[type="submit"]:active:enabled, input[type="reset"]:active:enabled, select:not([size]):active:enabled, select[size="1"]:active:enabled {
	repeat:keep;

	background-color:#1C1C1C;
	background-image:-webkit-linear-gradient(#181818, #202020);
	background-image:   -moz-linear-gradient(#181818, #202020);
	background-image:    -ms-linear-gradient(#181818, #202020);
	background-image:     -o-linear-gradient(#181818, #202020);
	background-image:        linear-gradient(#181818, #202020);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#181818, endColorstr=#202020);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#181818, endColorstr=#202020)";
	-webkit-box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	   -moz-box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	        box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	border-color:rgba(0,0,0,0.7);
	border-bottom-color:rgba(0,0,0,0.3);
}

input[type="radio"] {
	repeat:keep;
	
	background-color:#202020;
	background-image:-webkit-linear-gradient(#303030, #202020);
	background-image:     -o-linear-gradient(#303030, #202020);
	background-image:        linear-gradient(#303030, #202020);
	border-color:#131313;
	border-top-color:#343434;
	text-shadow:0px -1px 0px black;
	color:#FDFDFD;
}
input[type="radio"]:hover:enabled, input[type="radio"]:focus:enabled {
	repeat:keep;
	
	background-color:#282828;
	background-image:-webkit-linear-gradient(#353535, #282828);
	background-image:     -o-linear-gradient(#353535, #282828);
	background-image:        linear-gradient(#353535, #282828);
}
input[type="radio"]:checked {
	repeat:keep;
	
	text-shadow:0px 1px 0px white;
	background-color:#282828;
	background-image:url(www/pics/styles/i3/radiodot-dark.png), -webkit-linear-gradient(#303030, #202020);
	background-image:url(www/pics/styles/i3/radiodot-dark.png),      -o-linear-gradient(#303030, #202020);
	background-image:url(www/pics/styles/i3/radiodot-dark.png),         linear-gradient(#303030, #202020);
}
input[type="radio"]:checked:hover:enabled, input[type="radio"]:checked:focus:enabled {
	repeat:keep;
	
	background-color:#303030;
	background-image:url(www/pics/styles/i3/radiodot-dark.png), -webkit-linear-gradient(#353535, #282828);
	background-image:url(www/pics/styles/i3/radiodot-dark.png),      -o-linear-gradient(#353535, #282828);
	background-image:url(www/pics/styles/i3/radiodot-dark.png),         linear-gradient(#353535, #282828);
}
input[type="radio"]:active:enabled {
	repeat:keep;
	
	background-color:#1C1C1C;
	background-image:-o-linear-gradient(#181818, #202020);
	background: -webkit-linear-gradient(#181818, #202020);
	-webkit-box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	        box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	border-color:rgba(0,0,0,0.7);
	border-bottom-color:rgba(0,0,0,0.3);
}
input[type="radio"]:checked:active:enabled {
	repeat:keep;
	
	background-color:#1C1C1C;
	background-image:url(www/pics/styles/i3/radiodot-dark.png), -webkit-linear-gradient(#181818, #202020);
	background-image:url(www/pics/styles/i3/radiodot-dark.png),      -o-linear-gradient(#181818, #202020);
	background-image:url(www/pics/styles/i3/radiodot-dark.png),         linear-gradient(#181818, #202020);
}

input[type="checkbox"] {
	repeat:keep;
	
	background-color:#282828;
	background-image:-webkit-linear-gradient(#303030, #202020);
	background-image:     -o-linear-gradient(#303030, #202020);
	background-image:        linear-gradient(#303030, #202020);
	border-color:#131313;
	border-top-color:#343434;
	text-shadow:0px -1px 0px black;
	color:#FDFDFD;
}
input[type="checkbox"]:hover:enabled, input[type="checkbox"]:focus:enabled {
	repeat:keep;
	
	background-color:#303030;
	background-image:-webkit-linear-gradient(#353535, #282828);
	background-image:     -o-linear-gradient(#353535, #282828);
	background-image:        linear-gradient(#353535, #282828);
}
input[type="checkbox"]:checked {
	repeat:keep;
	
	background:#282828 url(www/pics/styles/i3/check-dark.png) center center no-repeat;
	background-image:url(www/pics/styles/i3/check-dark.png), -webkit-linear-gradient(#303030, #202020);
	background-image:url(www/pics/styles/i3/check-dark.png),      -o-linear-gradient(#303030, #202020);
	background-image:url(www/pics/styles/i3/check-dark.png),         linear-gradient(#303030, #202020);
	background-repeat:no-repeat;
	background-position:1px -1px;
}
input[type="checkbox"]:checked:hover:enabled, input[type="checkbox"]:checked:focus:enabled {
	repeat:keep;
	
	background-color:#303030;
	background-image:url(www/pics/styles/i3/check-dark.png), -webkit-linear-gradient(#353535, #282828);
	background-image:url(www/pics/styles/i3/check-dark.png),      -o-linear-gradient(#353535, #282828);
	background-image:url(www/pics/styles/i3/check-dark.png),         linear-gradient(#353535, #282828);
}
input[type="checkbox"]:active:enabled {
	repeat:keep;
	
	background-color:#1C1C1C;
	background-image:-webkit-linear-gradient(#181818, #202020);
	background-image:     -o-linear-gradient(#181818, #202020);
	background-image:        linear-gradient(#181818, #202020);
	-webkit-box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	        box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	border-color:rgba(0,0,0,0.7);
	border-bottom-color:rgba(0,0,0,0.3);
}
input[type="checkbox"]:checked:active:enabled {
	repeat:keep;
	
	background-color:#1C1C1C;
	background-image:url(www/pics/styles/i3/check-dark.png), -webkit-linear-gradient(#181818, #202020);
	background-image:url(www/pics/styles/i3/check-dark.png),      -o-linear-gradient(#181818, #202020);
	background-image:url(www/pics/styles/i3/check-dark.png),         linear-gradient(#181818, #202020);
}

input:not([type]), input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	repeat:keep;
	
	background-color:transparent;
	border-color:#EAEAEA;
	border-style:solid;
	border-width:0px;
	border-bottom-width:1px;
	padding:4px;
	 -webkit-border-bottom-left-radius:1px 10px;
	-webkit-border-bottom-right-radius:1px 10px;
	     -moz-border-radius-bottomleft:1px 10px;
	    -moz-border-radius-bottomright:1px 10px;
	         border-bottom-left-radius:1px 10px;
	        border-bottom-right-radius:1px 10px;
	
	color:#EAEAEA;
}
textarea, select[size]:not([size="1"]) {
	-webkit-appearance:none;
	   -moz-appearance:none;
	     -o-appearance:none;
	        appearance:none;
	-webkit-border-radius:1px;
	   -moz-border-radius:1px;
	        border-radius:1px;
	background-color:transparent;
	border-color:#EAEAEA;
	border-style:solid;
	border-width:1px;
	padding:4px;
	color:#EAEAEA;
}
*:focus {
	outline-width:0px;
	-webkit-box-shadow:0px 0px 1px 1px rgba(0,128,255,0.5);
	   -moz-box-shadow:0px 0px 1px 1px rgba(0,128,255,0.5);
	        box-shadow:0px 0px 1px 1px rgba(0,128,255,0.5);
}
input:not([type]):focus, input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus, select[size]:not([size="1"]):focus {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	border-color:#6068FF;
	/*border-style:solid;
	border-width:1px;*/
}

input:disabled, button:disabled, textarea:disabled, select:disabled {
	color:#E0E0E0;
}
option {
	background-color:#0A0A0A;
}
