.logo {
	position: absolute;
	top: 32px;
	left: 16px;
	width:251px;
	height:100px;
	background: url(/www/pics/google/logo.png) no-repeat;
}
.logo a {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 255px;
	height: 105px;
}
.title {
	font-size: 1.0em;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
	color: black;
	line-height: 1em;
        border-bottom: 1px solid #c9d7f1;
}

.date {
	position: absolute;
	top: 0em;
	right: 1em;
	color: white;
	z-index: 99;
}
#menu {
	width: 100%;
	text-align: right;
	padding-top: 5px;
}
div#menu span {
	display: inline-block;
	width: 0px;
	border-right: 1px solid black;
	font-size: 95%;
	line-height: 1em;
	left: -0.5em;
}
.gtopbar {
	width: 100%;
	position: absolute;
	border-bottom: 1px solid #C9D7F1;
	top: 0px;
	height: 20px;
	z-index: 1;
	padding-top: 5px;
}
.header {
	left: 330px;
	position: absolute;
	right: 10px;
	top: 50px;
}
.glinks {
	left: 10px;
	position: absolute;
	top: 140px;
	width: 300px;
}
div#glinks div {
	width: 293px;
	padding-left: 15px;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:1px;
	-moz-border-radius: 5px 0px 0px 5px;
	     border-radius: 5px 0px 0px 5px;
}
.glinks a {
	text-decoration:none;
	color:black;
}
.glinks-selected {
	background-color: #BBCCFF;
}
.glinks-unselected {
	background-color:transparent;
}
.glinks-unselected:hover {
	background-color:#DDE5FF;
}
.username {
	color: black;
	font-weight: bold;
}
.username:link {
	color: black;
}
.username:visited {
	color: black;
}
.searchformdiv {
	position: absolute;
	left:330px;
	top:105px;
}
