#activityList {
	height: 455px;
	overflow-y: scroll;
	padding:0;
	margin-top:1em; 
	border: 1px solid #ddd;
	border-right: 4px double #ddd;
}

#activityList :first-child {
	border-top: none;
}

.activityHead {
	padding: .5em;
	font-weight: bold;
	background-color: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.activityRow {
	padding:3px;
	cursor:pointer;
	position:relative;
}

.activityInfo {
	padding: 0;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height .5s;
	   -moz-transition: height .5s;
	     -o-transition: height .5s;
	        transition: height .5s;
}

.activityRow.odd, .activityInfo.odd {
	background-color: #FAFAFA;
}
.activityRow.even, .activityInfo.even {
	background-color: #F8F8F8;
}

.activityInfoInner {
	background-color: rgba(255,255,255,.3);
	margin-left: .5em;
	border-top: 1px solid white;
	border-left: 1px solid white;
	padding: .5em;
}

.selectedAR {
	background-color: #FFFF88 !important;
}

.cancelledAR.odd {
	background-color: #CA0000;
	color: white;
}

.cancelledAR.even {
	background-color: #CF0000;
	color: white;
}

/*.favoriteAR.odd {
	background-color: #B3F4B3;
}

.favoriteAR.even {
	background-color: #BCF9B3;
}*/


/*.fullAR.odd {
	background-color: #99c;
}

.fullAR.even {
	background-color: #aad;
}*/

/*.restrictedAR.odd {
	background-color: #420;
	color: white;
}

.restrictedAR.even {
	background-color: #492909;
	color:white;
}*/


.restrictedAR.odd {
	background-color: #FDC5A0;
}

.restrictedAR.even {
	background-color: #fca;
}


/*.fillingAR.odd {
	background-color: #8989F5;
}

.fillingAR.even {
	background-color: #9191F8;
}*/


.clickedAR {
	outline: 1px solid black;
	-webkit-box-shadow: inset 0px 0px 7px 1px black;
	   -moz-box-shadow: inset 0px 0px 7px 1px black;
	     -o-box-shadow: inset 0px 0px 7px 1px black;
	        box-shadow: inset 0px 0px 7px 1px black;
	font-weight:bold;
}

.actkey {
	padding:2px 6px;
}

.pieIcon {
	/*position:absolute;
	left:0px;
	top:0px;*/
	float:left;
	height:21px;
	width:21px;
	margin:-3px 2px;
	background-image:url(/www/pics/eighth_list_icons.png);
}

.fullAR .pieIcon { background-position:-210px 0px; }
 .pie1 { background-position:-189px 0px; }
 .pie2 { background-position:-168px 0px; }
 .pie3 { background-position:-147px 0px; }
 .pie4 { background-position:-126px 0px; }
 .pie5 { background-position:-105px 0px; }
 .pie6 { background-position: -84px 0px; }
 .pie7 { background-position: -63px 0px; }
 .pie8 { background-position: -42px 0px; }
 .pie9 { background-position: -21px 0px; }
.pie10 { background-position:   0px 0px; }

.crossPie { background-position:-231px 0px; }
.cancelledAR .crossPie { background-image: url(/www/pics/styles/dark/eighth_list_icons.png); }
