#activityList {
	height: 405px;
	overflow-y: scroll;
	padding:0;
	margin-top:1em; 
	border: 1px solid #ddd;
	border-right: 4px double #ddd;
}

#activityList :first-child {
	border-top: none;
}

.activityHead {
	font-family: Trebuchet MS, Trebuchet, sans-serif;
	padding: .5em;
	font-weight: bold;
	background-color: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.activityRow {
	font-family: Trebuchet MS, sans-serif;
	padding: .25em .5em .25em .5em;
	cursor: pointer;
}

.activityInfo {
	font-family: Trebuchet MS, sans-serif;
	padding: 0;
	height: 0px;
	overflow: hidden;
	transition: height .5s;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	-o-transition: height .5s;
}

.activityInfoInner {
	background-color: rgba(255,255,255,.3);
	margin-left: .5em;
	border-top: 1px solid white;
	border-left: 1px solid white;
	padding: .5em;
}

.selectedAR {
	background-color: #ff8;
}

.fillingAR.odd {
	background-color: #8989F5;
}

.fillingAR.even {
	background-color: #9191F8;
}

.fullAR.odd {
	background-color: #222;
	color: white;
}

.fullAR.even {
	background-color: #292929;
	color:white;
}

.cancelledAR.odd {
	background-color: #B00;
	color: white;
}

.cancelledAR.even {
	background-color: #C00;
	color: white;
}

.restrictedAR.odd {
	background-color: #FDC5A0;
}

.restrictedAR.even {
	background-color: #fca;
}

.generalAR.odd {
	background-color: #ECECFF;
}

.generalAR.even {
	background-color: #F0F0FE;
}

.favoriteAR.odd {
	background-color: #B3F4B3;
}

.favoriteAR.even {
	background-color: #BCF9B3;
}

.clickedAR {
	outline: 1px solid black;
	-webkit-box-shadow: inset 0px 0px 7px 1px black;
	-moz-box-shadow: inset 0px 0px 7px 1px black;
	-o-box-shadow: inset 0px 0px 7px 1px black;
	box-shadow: inset 0px 0px 7px 1px black;
	font-weight:bold;
}

.actkey {
	font-family: Trebuchet MS, Trebuchet, sans-serif;	
	padding:2px 6px;
}
