.intrabox {
	border-style: dashed;
	border-color: #008800;
	border-width: 1px;
	padding: 2pt;
	margin-bottom: 10pt;
}
.boxheader {
	color: #008800;
	font-weight: bold;
	border-style: 1px dashed #008800;
}
@extend
.boxcontent {
	color: #008800;
}
@extend
.boxform {
	color: #008800;
}
@extend
.mainbox {
	padding: 2pt;
	border: 1px dashed #008800
}
