@extend
.intrabox {
	background: transparent;
	border: dashed #008800 1px;
	padding: 2pt;
	margin-bottom: 10pt;
}
.boxheader {
	background: transparent;
	color: #008800;
	font-weight: bold;
	border-bottom: 1px dashed #008800;
}
@extend
.boxcontent {
	color: #008800;
}
@extend
.boxform {
	color: #008800;
}
@extend
.mainbox {
	padding: 2pt;
	border: 1px dashed #008800
}
