@extend {
.intrabox {
	background: transparent;
	border: dashed #008800 1px;
	padding: 2pt;
	margin-bottom: 10pt;
	width: 320px;
}
div.mainbox {
	left: 342px;
}
.boxheader {
	background: transparent;
	color: #[<$I2_USER->boxtitlecolor|default:'008800'>];
	font-weight: bold;
	border-bottom: 1px dashed #008800;
}
.boxbuttons {
	margin-top: -4px;
}
.upbutton {
	background: url(/www/pics/styles/Ub321337/l33tup.gif) center no-repeat;
}
.dnbutton {
	background: url(/www/pics/styles/Ub321337/l33tdn.gif) center no-repeat;
}
.mnbutton {
	background: url(/www/pics/styles/Ub321337/l33tmin.gif) center no-repeat;
}
.rmbutton {
	background: url(/www/pics/styles/Ub321337/l33tclose.gif) center no-repeat;
}
.boxcontent {
	color: #008800;
}
.boxform {
	color: #008800;
}
.mainbox {
	margin-left: 20px;
	padding: 2pt;
	border: 1px dashed #008800
}
.activity_cancelled {
	background-color: #008800;
	color: #000000;
}
.activity_cancelled td {
	color: #000000;
}
.activity_cancelled td a {
	color: #000000;
}
}
