@replace
.intrabox {
	border: #fcc303 thick ridge;
	margin-bottom: 10pt;
	width: 305px;
	background-color: #990022;
}
@replace
.boxheader {
	color: #87ceeb;
	font-weight: bold;
	background-color: #990022;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #fcc303;
	padding: 0px 4px;
}
@extend
.boxbuttons {
	margin-top: 1px;
	margin-right: 6px;
}
@extend
.boxcontent {
	color: #ffffff;
}
@extend
.boxform {
	color: #ffffff;
}
@extend
.mainbox {
	border: #fcc303 thick ridge;
	background-color: #990022;
	left: 337px;
	padding: 1px;
	-moz-border-radius: 0px;
}
@extend
.activity_cancelled {
	background-color: #cc6600;
}
