.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 99%;
	height: 99%;
	background: url(www/pics/newlogo.png) no-repeat;
}

#logotext {
	display: none;
}

.header {
	position: absolute;
	top: 20px;
	left: 310px;
	right: 10px;
}

.header_small {
	position: absolute;
	top: 0px;
	right: 10px;
	text-align: right;
}

.title {
	font-size: 14pt;
	font-weight: bold;
	color: #000000;
	border-bottom: 2px solid #000000;
}

.date {
	position: absolute;
	top: 25px;
	right: 25px;
}
#menu {
	width: 100%;
	text-align: right;
}
