.boxes {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 305px;
}
.boxes_noheader {
	position: absolute;
	top: 20px;
	left: 10px;
	width: 305px;
}
.intrabox {
	border: thin groove;
	margin-bottom: 10pt;
	width: 305px;
}
.boxheader {
	color: #[<$I2_USER->boxtitlecolor|default:"FFFFFF">];
	font-weight: bold;
	/*background-color: #464678;*/
	background-color: #[<$I2_USER->boxcolor|default:'618CAF'>];
	/*border-left: 4px solid #464678;
	border-right: 4px solid #464678;*/
	padding: 1px 4px;
	cursor: move;
}
.boxbuttons {
	float: right;
	margin-top: 0px;
	margin-right: 5px;
}
.boxbuttons span a {
	text-decoration: none;
}
.boxbuttons span a img {
	width: 8px;
	height: 16px;
}
.upbutton {
	background: url(/www/pics/up.gif) center no-repeat;
}
.dnbutton {
	background: url(/www/pics/down.gif) center no-repeat;
}
.mnbutton {
	background: url(/www/pics/min.gif) center no-repeat;
}
.rmbutton {
	background: url(/www/pics/close.gif) center no-repeat;
}
.boxcontent {
	margin-left: 4px;
	margin-right: 4px;
	color: #000000;
}
.boxform {
	margin: 5px 4px;
	color: #000000;
}
.mainbox {
	position: absolute;
	top: 110px;
	left: 327px;
	right: 10px;
	border: thin groove;
}
.mainbox .boxheader {
	cursor: default;
}
.mainbox_noheader {
	position: absolute;
	top: 20px;
	left: 327px;
	right: 10px;
	border: thin groove;
}
.mainbox_noheader_nointraboxes {
	position: absolute;
	top: 20px;
	left: 10px;
	right: 10px;
	border: thin groove;
}

.mainbox_nointraboxes {
	position: absolute;
	top: 110px;
	left: 10px;
	right: 10px;
	border: thin groove;
}
