.boxes {
	position: absolute;
	top: 110px;
	left: 10px;
	width: 305px;
}
.boxes_noheader {
	position: absolute;
	top: 20px;
	left: 5px;
	width: 305px;
}
.intrabox {
	border: thin groove;
	margin-bottom: 10pt;
	width: 305px;
}
.boxheader {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #464678;
	border-left: 4px solid #464678;
	border-right: 4px solid #464678;
}
.boxbuttons {
	float: right;
	margin: -2px 2px;
}
.upbutton {
	background: url(/www/pics/up.gif);
}
.dnbutton {
	background: url(/www/pics/down.gif);
}
.mnbutton {
	background: url(/www/pics/min.gif);
}
.rmbutton {
	background: url(/www/pics/close.gif);
}
.boxcontent {
	margin-left: 4px;
	margin-right: 4px;
	color: #000000;
}
.boxform {
	margin: 5px 4px;
	color: #000000;
}
.mainbox {
	position: absolute;
	top: 110px;
	left: 327px;
	right: 10px;
	border: thin groove;
}
.mainbox_noheader {
	position: absolute;
	top: 20px;
	left: 327px;
	right: 10px;
	border: thin groove;
}
.mainbox_noheader_nointraboxes {
	position: absolute;
	top: 20px;
	left: 10px;
	right: 10px;
	border: thin groove;
}

.mainbox_nointraboxes {
	position: absolute;
	top: 110px;
	left: 10px;
	right: 110px;
	border: thin groove;
}
