input, select, textarea {
	background-color: #00FFFF;
	color: #006666;
	border-width: medium;
	border-color: #00FFFF;
}

`extend
body {
	background-color: #00EEDD;
	background-image: url(www/pics/styles/ocean/shell.jpg);
	color: #006699;
}

a {
	color: #006666;
	text-decoration: none;
}

a:visited {
	color: #006666;
}

a:active {
	color: #9999FF;
}
