input, select, textarea {
	background-color: #00FFFF;
	color: #006666;
	border-width: medium;
	border-color: #00FFFF;
}

body {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	background-color: #00DDDD;
	color: #006666;
}

a {
	color: #006666;
	text-decoration: none;
}

a:visited {
	color: #006666;
}

a:active {
	color: #6666FF;
}
