<IfModule mod_webauth.c>
	AuthType WebAuth
	Require valid-user
#	WebAuthUseCreds on
#	WebAuthCred krb5 afs/csl.tjhsst.edu@CSL.TJHSST.EDU
	WebAuthLdapAttribute cn 
	WebAuthLdapAttribute iodineUid 
	WebAuthLdapAttribute tjhsstStudentId
</IfModule>
