#activityList, .activityHead {
	border-color:green;
	border-right: 4px double green;
}

.activityRow {
	color:#00FF00;
}

.activityInfoInner {
	background-color: rgba(0,0,0,.3);
	border-top: 1px solid green;
	border-left: 1px solid green;
}

.selectedAR {
	background-color:#292200 !important;
}

.clickedAR {
	outline: 1px solid #00CC00;
	-webkit-box-shadow:inset 0 0 10px #00CC00;
	   -moz-box-shadow:inset 0 0 10px #00CC00;
	     -o-box-shadow:inset 0 0 10px #00CC00;
	        box-shadow:inset 0 0 10px #00CC00;
}

.favoriteIcon, .pieIcon, .cancelledAR .crossPie {
	background-image:url(/www/pics/styles/Ub321337/eighth_list_icons.png);
}
