.logo a {
	background-image:url(www/pics/styles/i3/logo-dark.png);
}
#logotext {
	color:#EAEAEA;
}
.header {
	repeat:keep;
	
	background-color:#0A0A0A;
	background-image:-webkit-linear-gradient(#202020, #0A0A0A);
	background-image:   -moz-linear-gradient(#202020, #0A0A0A);
	background-image:    -ms-linear-gradient(#202020, #0A0A0A);
	background-image:     -o-linear-gradient(#202020, #0A0A0A);
	background-image:        linear-gradient(#202020, #0A0A0A);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#0A0A0A);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#0A0A0A)";
	
	box-shadow:0px 0px 8px 8px #0A0A0A;
}

#menu a {
	color:#8A8AD0;
}
#menu a:hover {
	background-color:rgba(128,128,128,0.1);
}
