.intrabox {
	border-top-color:#151530;
}
.intrabox:hover {
	repeat:keep;
	
	background-image:-webkit-linear-gradient(#151530, rgba(0,0,0,0) 30px);
	background-image:   -moz-linear-gradient(#151530, rgba(0,0,0,0) 30px);
	background-image:    -ms-linear-gradient(#151530, rgba(0,0,0,0) 30px);
	background-image:     -o-linear-gradient(#151530, rgba(0,0,0,0) 30px);
	background-image:        linear-gradient(#151530, rgba(0,0,0,0) 30px);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#151530, endColorstr=#000000);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#151530, endColorstr=#000000)";
}
.upbutton {
	background:url(www/pics/styles/i3/up-dark.png) center no-repeat;
}
.dnbutton {
	background:url(www/pics/styles/i3/down-dark.png) center no-repeat;
}
.mnbutton {
	background:url(www/pics/styles/i3/min-dark.png) center no-repeat;
}
.rmbutton {
	background:url(www/pics/styles/i3/x-dark.png) center no-repeat;
}
.boxform {
	color: #EAEAEA;
}
.mainbox {
	background-color:#0A0A0A;
	-webkit-box-shadow:-2px 0px 2px 0px rgba(0,0,0,0.8);
	   -moz-box-shadow:-2px 0px 2px 0px rgba(0,0,0,0.8);
	        box-shadow:-2px 0px 2px 0px rgba(0,0,0,0.8);	
}

@media (min-width:1005px) {
	.mainbox {
		left:280px;
		border-left-color:#808080;
		border-left-style:solid;
		border-left-width:1px;
	}
}
