@extend {
.logo {
	top:0px;
	left:4px;
	background: url(/www/pics/censor_stamp_small.png) no-repeat;
	width:300px;
}
.logo a {
	position: absolute;
	top:4px;
	left:4px;
	width:292px;
	height:100px;
}
.title {
	color:#C0C0C0;
	font-size:10pt;
}
.date {
	color:#C0C0C0;
}
.blurb {
   color:#C0C0C0;
   font-size:90%;
   margin-top:12px;
}
}

#menu_home, #menu_prefs, #menu_suggest, #menu_cred, #menu_help, #menu span {
	display:none;
}
