@extend
.logo {
	top: 0px;
	left: 0px;
	background: url(www/pics/newlogo.png) no-repeat;
}
@extend
.title {
	font-size: 18pt;
	color: #006699;
	border-bottom: 3px solid #006699;
	margin-bottom: 5px;
	margin-left: -10px;
	padding-left: 10px;
}
@extend
.date {
	margin-top: 5px;
	top: 25px;
	color: #006699;
	font-weight: bold;
}
.header a {
	color: #006699;
}
.header a:visited {
	color: #006699;
}
.date a {
	color: #006699;
	font-weight: bold;
}
.date a:visited {
	color: #006699;
	font-weight: bold;
}
