@extend
.logo {
	top: 0px;
	left: 0px;
	background: url(www/pics/newlogo.png) no-repeat;
}
@extend
.title {
	color: #00FFFF;
	border-bottom: 3px solid #00FFFF;
}
@extend
.date {
	top: 25px;
	color: #00FFFF;
}
.header a {
	color: #00FFFF;
}
.header a:visited {
	color: #00FFFF;
}
.date a {
	color: #00FFFF;
}
.date a:visited {
	color: #00FFFF;
}
