.newsitem {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 10pt;
	padding: 2px;
	border-left: dotted 1px gray;
	border-right: dotted 1px gray;
	border-bottom: dotted 1px gray;
}

.newstitle {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 5px;
	padding: 2px;
	border: solid 1px gray;
}

.newsposted {
	font-size: 9pt;
	margin-left: 1px;
	margin-top: 6pt;
	font-style: italic;
}

.newsgroups {
	font-size: 8pt;
	margin-bottom: 4px;
	color: #696969;
}

.newsoptions {
	font-size: 12pt;
	font-weight: bold;
	float: right;
	margin-top: 6px;
	margin-right: 2px;
	padding: 2px;
}

#news_add_text {
	width: 90%;
}

#news_groups_table {
	border-spacing: 0px 3px;
}

#news_groups_table td {
	padding-right: 3px;
}
