body {
/*		margin: 0.5em 0em 2em 0em;*/
	font-size:10pt;
	font-family:Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
/*		line-height:1.1em;*/
	color:#D0F0FF;
	background-color:#000102;
}

a {
	color:#00C0E8;
	text-decoration:underline;
}

a:visited {
	color:#00C0E8;
	text-decoration:underline;
}

input[type=text], input[type=search] {
	color:#D0F0FF;
	background-color:black;
	border-style:solid;
	border-width:1px;
	border-color:#D0F0FF;
	-webkit-border-radius:1px;
	   -moz-border-radius:1px;
	        border-radius:1px;
}

button, input[type=button], input[type=submit] {
	color:#D0F0FF;
	background-color:#040404;

	border-style:solid;
	border-width:1px;
	border-color:#D0F0FF;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
	        border-radius:2px;
}
button:active, input[type=button]:active, input[type=submit]:active {
	color:black;
	background-color:#C2DAD4;
	border-color:#C2DAD4;
}



/* 8th pd list */
.c1 {
	background-color:#070809;
}
.c2 {
	background-color:#000102;
}
