@extend
.boxes {
	width: 305px;
}
@extend
.intrabox {
	border: #CCDDFF 2px solid;
	margin-bottom: 10pt;
	background-color: #FFFFDD;
	width: 305px;
	-moz-border-radius: 10px;
}
@extend
.boxheader {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #FFCCFF;
	border: 2px outset #FFCCFF;
	padding: 0px 10px;
	-moz-user-select: none;
	cursor: default;
	-moz-border-radius: 10px;
	font-size: 14px;
	height: 17px;
}
@extend
.boxbuttons {
	margin-top: 2px;
	margin-right: 10px;
}
.boxcontent {
	margin: 4px;
	color: #006666;
}
@extend
.boxform {
	margin: 5px 4px;
	color: #6666FF;
}
@extend
.mainbox {
	left: 337px;
	border: #CCDDFF 2px solid;
	background-color: #FFFFDD;
	-moz-border-radius: 10px;
}
@extend
.activity_cancelled {
	background-color: #FFCCFF;
}
.activity_cancelled td {
	color: #FFFFFF;
}
.activity_cancelled td a {
	color: #FFFFFF;
}
