.boxheader {
	color: black;
	font-weight: bold;
	background-color: white;
	border-left: 4px solid white;
	border-right: 4px solid white;
}
.upbutton {
	background: url(/www/pics/up.gif);
}
.dnbutton {
	background: url(/www/pics/down.gif);
}
.mnbutton {
	background: url(/www/pics/min.gif);
}
.rmbutton {
	background: url(/www/pics/close.gif);
}
