@extend {
.header {
	color: #FFFF00;
}

.title {
	color: #FFFF00;
	border-bottom-color: #FFFF00;
}

.date {
	color: #FFFF00;
}

.date a {
	color: #FFFF00;
}

.date a:visited {
	color: #FFFF00;
}

.date a:hover {
	color: #FF6600;
}

.date a:active {
	color: #FF0000;
}
}
