input, select, textarea {
	background-color: #f0e68c;
	color: #660033;
	border-width: medium;
	border-color: #fcc303;
}

@extend {
body {
	background-color: #660033;
	background-image: url(www/pics/styles/autumn/fall.jpg);
	color: #f0e68c;
}
}
a {
	color: #ffcc33;
	text-decoration: none;
}
a:visited {
	color: #ddccbb;
}
a:active {
	color: #ffcc33;
}

.c1 {
	background-color: #8f0018;
}

.c2 {
	background-color: #ad0036;
}
